@import "tailwindcss";

@theme {
  --color-block-white: #fefefe;
  --color-block-purple: #d3caff;
  --color-block-purple-hover: #baadfc;
  --color-important-bg: #ffc2c2;
  --color-main-font: #1a1a1a;
  --color-sidebar-bg: #3a2c7d;
  --color-dark-purple: #7451eb;
  --color-light-purple: #f5f3ff;
  --color-manager: #f9b677;
  --color-light-hr: #81d49e;
  --color-dark-hr: #6eb587;
  --color-bg: #f6f6f6;
}

:root {
  --background-colour: #f6f6f6;
  --main-font-colour: #1a1a1a;
}

body {
  background: var(--background-colour);
  color: var(--main-font-colour);
  font-family: var(--font-inclusive-sans), Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}

header {
  z-index: 100;
}
